# --- Database Persistence (Heavy Data) ---
postgres_data/
mysql_data/
cassandra_data/

# --- Airflow Runtime & Spark Checkpoints ---
data-pipeline/airflow/logs/
# data-pipeline/airflow/dags/
data-pipeline/scripts/processing/checkpoints/

# --- Python & System Cache ---
__pycache__/
*.py[cod]
*$py.class
*.log

# --- Environment & Virtual Environments ---
.env
venv/
.venv/

# --- IDE & OS Temporary Files ---
.DS_Store
.idea/
.vscode/
*.swp
*.save